extends layout

block content

  h1 #{item.name} - #{item.price}$
  div(class='flex flex-row')
    each category in item.category
      p #{category.name},  
  p  #{item.description}
   
  div
    p 
      a(href=item.url+'/delete') Delete item  
    p 
      a(href=item.url+'/update') Update item